<h2>Partenaires</h2>

<div class="panel panel-default">
    <div class="panel-body ">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="http://www.procie-huningue.com/" target="_blank">
                    <div class="md-3-square thumbnail">
                        <img class="img-responsive" src="../../../assets/img/sponsors/pro&cie.png" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="http://restaurant-lacroixdor.com/" target="_blank">
                    <div class="md-3-square thumbnail">

                        <img class="img-responsive " src="../../../assets/img/sponsors/la_croix_d_or.png" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="https://www.magasins-u.com/hyperu-sierentz" target="_blank">
                    <div class="md-3-square thumbnail"><img class="img-responsive " src="../../../assets/img/sponsors/hyperU.png" />
                    </div>
                </a>
            </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="http://osolemio-express.com/" target="_blank">
                    <div class="md-3-square thumbnail"><img class="img-responsive " src="../../../assets/img/sponsors/o_sole_mio.png" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="https://www.credit-agricole.fr/" target="_blank">
                    <div class="md-3-square thumbnail"><img class="img-responsive " src="../../../assets/img/sponsors/logo-Credit-Agricole2.png" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="http://www.plac-arts.com/" target="_blank">
                    <div class="md-3-square thumbnail"><img class="img-responsive " src="../../../assets/img/sponsors/plac_arts.png" /> </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="http://www.tp-paysdesierentz.com/" target="_blank">
                    <div class="md-3-square thumbnail"><img class="img-responsive " src="../../../assets/img/sponsors/tp_sierentz.png" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="https://www.creditmutuel.fr/fr/particuliers.html" target="_blank">
                    <div class="md-3-square thumbnail"><img class="img-responsive " src="../../../assets/img/sponsors/credit_mutuel.png" /> </div>
                </a>
            </div>
          

            <!-- <a href="http://www.caves-meyer-thuet.com/fr/" target="_blank"> <img src="images/sponsors/caves_meyer-thuet.png" /></a>     
        <a href="https://www.generali.fr/agence/steiner-stlouis/alsace/assurance/" target="_blank"> <img src="images/sponsors/steiner.png" /></a>
        <a href="https://www.spar.fr/" target="_blank"> <img src="images/sponsors/spar.png" /></a>
        <a href="http://www.immo-bartholdi.com/" target="_blank"> <img src="images/sponsors/immobiliere_bartholdi.png" /></a>
        <a href="http://restaurant-puglia.fr/" target="_blank"> <img src="images/sponsors/puglia_pizzeria.png" /></a>-->
        </div>
    </div>