<h2><span class="glyphicon glyphicon-user" style="margin-right: 10px"></span>Contact</h2>

<h3>Coordonnées</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <address>
            <strong>F.C. Uffheim</strong><br> Rue du General Bethouard<br> 68510 Uffheim
        </address>
        <span class="glyphicon glyphicon-phone-alt" style="margin-right: 10px"></span> 03.89.81.59.42<br/>
        <span class="glyphicon glyphicon-envelope" style="margin-right: 10px"></span> <a href="mailto:uffheim.fc@lafafoot.fr">uffheim.fc@lafafoot.fr</a><br/>
        <i class="fa fa-facebook" aria-hidden="true" style="margin-right: 20px"></i><a href="https://www.facebook.com/FcUffheim/"
            target="_blank">https://www.facebook.com/FcUffheim</a><br/>
        <i class="fa fa-youtube" aria-hidden="true" style="margin-right: 13px"></i>
        <a href="https://www.youtube.com/user/FCUffheim/videos" target="_blank">https://www.youtube.com/user/FCUffheim</a>
    </div>
</div>


<h3>Stade</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <address>
            <strong>Stade Joseph Muller</strong>
            <br/>Rue du General Bethouard
            <br> 68510 Uffheim
        </address>

        <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Stade%20fcu%20uffheim&key=AIzaSyAOPGDDgrY2StsOVlBeslyXXK_yDL4af0A"
            allowfullscreen></iframe>
    </div>
</div>