<table id="leagueTable" class="table table-striped table-bigger ">
    <tr>
        <th>Pos</th>
        <th>Equipe</th>
        <th>J</th>
        <th>G</th>
        <th>N</th>
        <th>D</th>
        <th class="hidden-xs">BP</th>
        <th class="hidden-xs">BC</th>
        <th class="hidden-xs">+/-</th>
        <th>Pts</th>
    </tr>
    <tr *ngFor="let item of rankings" [ngClass]="{'mauve': item.team == 'Uffheim F.C.', 'border-bottom': item.position == 2, 'border-top': item.position == 13}">

        <td [ngClass]="{'text-success': item.position== 1 ||item.position== 2, 'text-danger':  item.position>= 13}">{{item.position}}</td>

        <td><img [src]="item.imageUrl"> {{item.team}}</td>
        <!-- <i class="fa fa-shirtsinbulk green-white" aria-hidden="true"  ></i> -->
        <td>{{item.matchPlayed}}</td>
        <td>{{item.matchWon}}</td>
        <td>{{item.matchDraw}}</td>
        <td>{{item.matchLost}}</td>
        <td class="hidden-xs">{{item.goalsScored}}</td>
        <td class="hidden-xs">{{item.goalsAgainst}}</td>
        <td class="hidden-xs">{{item.goalDifference}}</td>
        <td>{{item.points}}</td>
    </tr>

</table>