<h2>Club</h2>

<h4>Histoire</h4>
<p>En 1945, une poignée de jeunes sportifs créent le Football Club d'Uffheim, inscrit sous le numéro d'affiliation 4209. Le
    club change de nom en 1949 pour prendre celui d'AS Uffheim. L'épisode sportif sera de courte durée pour l'association
    qui met le club en sommeil en 1954. Les activités sont suspendues... pour renaître de ses cendres en 1971 sous la dénomination
    de Football Club Uffheim.
</p>

<p>
    En ce temps là, les jeunes ont les cheveux longs et courent vite... <br> Uffheim compte 2 boulangeries, 2 restaurants,
    2 épiceries, un boucher, un cordonnier, un forgeron, une fanfare, des pompiers, mais pas de terrain de sport!<br> L'école
    primaire n'est pas encore mixte et il n'y a pas la télévision dans toutes les maisons. Les ordinateurs font encore partie
    de la science fiction et on ne se doute pas que quelqu'un va inventer, un jour, la semaine des 35 heures.
</p>

<p>
    A l'époque où l'on marche pour la 1ère fois sur la lune, les petits gars du village jouent au foot devant le restaurant "aux
    chasseurs". C'est un terrain en bitume et de taille réduite. Le portail rouillé de la maison de Mme Victorine (aujourd'hui
    CMDP) sert de but. Le jeu s'interrompt au passage d'un tracteur ou d'une 2CV. A la fin du match, on va boire un panaché
    ou un diabolo servis par Mme Irma.
</p>
<p>
    A Uffheim la contestation s'est cristallisée autour d'une revendication majeure: "nous voulons un terrain de football".<br>    Bernard Schlienger et Adrien Dentz (2 juniors jouant au FC Sierentz) font le premier pas en allant voir le sympathique
    et dynamique maire Joseph Muller, qui se déclare prêt a donner un terrain communal de 1ha "si le nombre de joueurs est
    assez nombreux".<br> Les deux joueurs demandent aux plus anciens de la bande de monter une équipe locale. C'est Fernand
    Fritsch qui s'attelle à cette tâche. Il n'est pas le meilleur au foot mais un grand organisateur et un leader charismatique.
    Avec Marcel Goepfert, il mobilise une vingtaine de jeunes et d'anciens qui participent à une réunion publique à la mairie,
    le 22 mars 1971, marquant la renaissance officielle du FCU.
</p>

<p>
    Les vendredis soirs, on se retrouve "Chez Irma" pour jouer au poker ou au tarot. Les gains de ces interminables parties sont
    versés dans une cagnotte qui sert à acheter les premiers ballons.<br> Fernand Fritsch forme un duo de choc avec Simon
    Gori, un entraîneur pédagogue, gardien de but talentueux, fumeur de pipe aux idées révolutionnaires. Venu de Toscane
    via les Vosges, il garde son accent mais transmet sa fougue et sa passion qui ne se limitent pas au foot. C'est lui qui
    apprend à jouer, à gagner et à voir en mauve.
</p>

<p>
    Le mauve est toujours la couleur du FC Uffheim, la même que celle de la Florentina de Florence et que Simon a fait venir
    directement d'Italie: la Toscane et le Sundgau ont donné naissance à une équipe multiculturelle.
</p>

<p>
    Le FCU innove sur un autre plan: il est l'un des premiers petits clubs à faire de la publicité pour son sponsor, mais comme
    il est interdit de porter le nom d'une société sur les maillots, on décide de coudre des écussons de la Sedim, l'entreprise
    de Roger Wasner sur les shorts des joueurs.<br> Sur les maillots, à la place du cœur, il y a un écusson symbolisant
    un moulin et une date: 1687, l'année à laquelle remonte la première référence historique de la création du village d'Uffheim
    autour de trois moulins.
</p>

<p>
    Pour financer les infrastructures du club, le FCU organise à partir de 1972, pour la première fois dans la région, des kilbes
    en hiver et des soirées de carnaval sous chapiteaux. Le vin chaud gèle dans les verres car le chauffage tombe régulièrement
    en panne et le chapiteau s'écroule parfois sous le poids de la neige . Mais cela permet de remplir les caisses.
</p>
<p>
    Le club est donc recréé en 1971, mais il faut attendre la saison 1973/1974 pour voir les joueurs d'Uffheim évoluer sur leur
    terrain fétiche.<br> Pour sa première saison 1971/1972, le FC Uffheim démarre en trombe: le premier match officiel,
    joué sur le terrain de Sierentz, se solde par une victoire (4-1) contre Hégenheim II. L'équipe fanion termine la saison
    à la seconde place de la division VI, à trois points du SC Carspach, intouchable à l'époque. L'équipe se compose de Simon
    Gori (gardien), Gilbert Leiby (), Bernard Schlienger (arrière central), Pierrot Martin (arrière), Théo Gutsché (arrière),
    Adrien Dentz (milieu de terrain), Jean-Pierre Joël (milieu de terrain), Jean-Claude Jung (milieu de terrain), Jean-Marie
    Wurtlin (attaquant), François Ronci (attaquant).
</p>


<p>
    La montée en division II intervient dès la saison suivante. Toujours sous la houlette de Simon Gori, le FCU renforcé notamment
    par Josef Jaeger (un ancien international junior tchèque exilé à Bâle) reste invaincu durant toute la saison 1972-1973
    avec un goal-average impressionnant de 51 buts marqués (dont 38 par Jean-Marie Wurtlin, alias Johnny) et seulement 8
    buts encaissés.
</p>

<p>
    Dans la foulée, le FCU rate en 1974, d'un tout petit point, la montée en division II décrochée après un combat épique par
    Habsheim.
</p>

<p>
    Il faut attendre 1983 avant de monter en division II, grâce à la suppression de la division III... La montée en division
    I marque les 20 ans du club en 1991. La troisième génération réalise le rêve des anciens en faisant accéder, en 1993,
    le FCU en promotion d'honneur.
</p>

<p>

    Aujourd'hui il y a 2 terrains de foot à Uffheim. Mais il n'y a plus de bistrot, plus de boulangerie, plus d'épicerie, plus
    de cordonnerie. Le forgeron et le cordonnier sont morts. Plusieurs joueurs, dont Gilbert Leiby, le premier capitaine
    du FCU, ont été emportés prématurément par la vie.
</p>
<p>

    Une vie que l'on continue de voir en mauve, autrement.
</p>

<h4>Hymne</h4>
   <p>
       Tout grand club se doit d'avoir un hymne. Voici le notre.
   </p>
    
<p class="text-center">
    <video controls src="videos/video-1472640072.mp4">Ici la description alternative</video>
</p>

<blockquote style="font-size: 15px">
        "Allez Uffheim allez FCU <br/> Hisser ooooh ! Santianoo !<br/> Tous unis sous les mêmes couleurs<br/> Et le club
        chante avec ferveur ... (Bis)"
    </blockquote>
<!--

<h4>Installations</h4>

<h4>Organigramme</h4>-->