<h3>Chargement du classement</h3>


<!--<p>Cliquez sur browse et sélectionez le fichier Json à charger.</p>-->

<!--<div class="panel-body" *ngIf="success==false">-->
    <!--<input type="file" [ng-file-select]="options" (onUpload)="handleUpload($event)">-->
    <!--<input type="file" ngFileSelect [options]="options" (onUpload)="handleUpload($event)">-->
<!--</div>-->
<div *ngIf="success" class="alert alert-success">
    Le classement a été mis à jour avec succès.
</div>

<!--<div *ngIf="error" class="alert alert-warning">
    {{ uploadFile | json }}
</div>-->

<h4>Mise à jour du Classement par la lafa</h4>
<p>Les données seront mise à jour par le biai du site de la lafa.</p>
<button (click)="updateRankingFromLafa()" class="btn btn-success">Mise à jour</button>


<button (click)="goBack()" class="btn btn-default">Retour</button>
