  <!-- Website Header -->
  <div style="background-color: #FFF">
    <div class="container">
      <div class="header">   
        <img id="logofcu" src="../assets/img/logos/Uffheim/uffheim_120x120.png">
        <div class="header-title siteTitle">
          <div class="hidden-xs">
            <div class="fb-like  pull-right" data-href="http://fcuffheim.azurewebsites.net/" data-layout="button_count" data-action="like"
              data-size="large" data-show-faces="true" data-share="true"></div>
            <h1>Football Club Uffheim</h1>
            <span class="subHeader">Site officiel</span>
          </div>
          <div class="visible-xs">
            <h1>F.C Uffheim</h1>
            <div class="fb-like pull-right" style="margin-bottom: 5px; margin-right: 10px" data-href="http://fcuffheim.azurewebsites.net/"
              data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
            <span>Site officiel</span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <nav id="nav" class="navbar navbar-default container-fluid">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
    </div>
    <div class="navbar-collapse collapse">
        <div class="container">
            <ul class="nav navbar-nav menuTitle ">
                <li> <a href="" [routerLink]="['home']">Accueil</a></li>
                <!--<li> <a href="" [routerLink]="['team']">Equipe</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Equipes <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li *ngFor="let team of teams; let i = index" ><a href="" [routerLink]="['team', team.id]">Equipe {{i+1}}</a></li>                        
                    </ul>
                </li>
                <li> <a href="" [routerLink]="['league-table']">Classement</a></li>
                <li> <a href="" [routerLink]="['games']">Calendrier</a></li>
                <li> <a href="" [routerLink]="['club']">Club</a></li>
                <li> <a href="" [routerLink]="['sponsors']">Partenaires</a></li>
                <li> <a href="" [routerLink]="['contact']">Contact</a></li>
            </ul>          
        </div>
    </div>
</nav>

<!--Body-->
<div class="container body-content">
    <div  style="margin-left: -15px; margin-right: -5px">
        <div class="col-md-8 col-sm-9">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-4 col-sm-3 hidden-xs ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><a href="" [routerLink]="['games']">Prochains match</a></h4>
                </div>
                <div class="panel-body">
                    <next-game></next-game>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><a href="" [routerLink]="['league-table']">Classement</a></h4>
                </div>
                <div class="panel-body">
                    <league-table-small> </league-table-small>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><a href="" [routerLink]="['games']">Dernier match</a></h4>
                </div>
                <div class="panel-body">
                    <last-game></last-game>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Présentation joueur</h4>
                </div>
                <div class="panel-body">
                    <players-carousel></players-carousel>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Forme</h4>
                </div>
                <div class="panel-body">
                    <games-pie-chart></games-pie-chart>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<footer class="footer" style="margin-top: 20px">
    <div class="container">
        <div style="margin-top: 10px">
            <a href="" [routerLink]="['admin']">Admin</a>            
            <span class="pull-right">
         @Copyright <a href="mailto:maxime.matter@hotmail.fr?subject=FCU WebSite">Marez</a>
        </span>
            <br/>
            <img src="../../assets/img/sponsors/Logo-Credit-Agricole.png" style="height:50px">
            <img src="../../assets/img/sponsors/pro&cie.png" style="height:50px">
        </div>     
    </div>
</footer>