<div class="panel panel-default">
    <div class=" panel-heading">
        <h3>{{player.firstName}} {{player.lastName}}</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Poste</dt>
            <dd>{{player.position}} </dd>
            <dt>Date de naissance</dt>
            <dd>{{player.dateOfBirth | frDate:'dd/MM/yyyy'}}  ({{playerAge}} ans) </dd>
            <dt>Taille</dt>
            <dd>{{player.height / 100}} m </dd>
            <dt>Poids</dt>
            <dd>{{player.weight}} kg</dd>
            <dt>Nationalité</dt>
            <dd>{{player.nationality}} </dd>
            <dt>Surnom</dt>
            <dd>{{player.nickname}} </dd>
            <dt>Joueur préféré</dt>
            <dd>{{player.favoritePlayer}} </dd>
            <dt>Equipe préférée</dt>
            <dd>{{player.favoriteTeam}} </dd>
            <dt>Numéro fétiche</dt>
            <dd>{{player.favoriteNumber}} </dd>
            <dt>Clubs précédents</dt>
            <dd>{{player.previousClubs}} </dd>
        </dl>
    </div>
</div>
<button (click)="deletePlayer()" class="btn btn-warning pull-right">Delete</button>
<button (click)="goBack()" class="btn btn-default">Back</button>
<button (click)="goToEdit()" class="btn btn-success">Edit</button>